h1 {display: none;}

/*div:not(.entry) {display: none;}*/

@page :pseudo-class {
    size: A4;

}
body {
    
}

/* 打印时不要在词条中间分页 */

entry {
    font-size: 0.7em; 
    clear: both;
    margin: 0 auto 30px auto;
    display: block;
    page-break-inside : avoid;
    line-height: 170%;
    width: 18cm;
}
